
@{
    ViewBag.Title = "addBroker";
}
<h1>Ajouter un nouveau collaborateur</h1>
<div class="container">
    <form action="#" method="POST" id="addBrokers" name="addbrokers">
        <div class="row">
            <label for="firstname">Prénom : </label>
            <input type="text" name="firstname" id="firstname" placeholder="Michel" />
        </div>
        <div class="row">
            <label for="lastname">Nom de famille : </label>
            <input type="text" name="lastname" id="lastname" placeholder="Moulin" />
        </div>
        <div class="row">
            <label for="Mail">Mail : </label>
            <input type="text" name="Mail" id="Mail" placeholder="Michel.Moulin@sfr.fr" />
        </div>
        <div class="row">
            <label for="phone">phone : </label>
            <input type="text" name="phone" id="phone" placeholder="0123456789" />
        </div>
        <div class="row">
            <label for="submit">Enregistrer : </label>
            <input type="submit" name="submit" id="submit" />
        </div>
    </form>
</div>

@{
    //premier test de récupération de données

    //on utilise le isPost pour déterminer si la page est en cours de publication

    string firstname = Request.Form["firstname"];
    string lastname = Request.Form["lastname"];
    string mail = Request.Form["Mail"];
    string phone = Request.Form["phone"];
    if (IsPost)
    {
        //les valeurs du formulaire sont stockés dans Request.Form
        <text>
            ce que vous avez entrer : <br />
            Prénom : @firstname <br />
            Nom : @lastname <br />
            EMail : @mail <br />
            Phone : @phone <br />
        </text>

    }
}


